.containerItem .card {
  width: 630px;
  height: 750px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  position: relative;
  margin-bottom: 100px;
  margin-top: 80px;
}

.containerItem .card img {
  width: 630px;
  height: 420px;
}

.itemList {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 100px;
}

.title {
  display: flex;
  align-content: flex-start;
  text-transform: uppercase;
  margin-top: 50px;
}

.description {
  text-align: left;
  margin-top: 10px;
}

.infoItem {
  color: #1a161a;
}

.price {
  color: #977321;
  position: absolute;
  bottom: 50px;
  font-size: 1.4rem;
}

@media (min-width: 700px) and (max-width: 1366px) {
  .containerItem .card {
    width: 430px;
    height: 650px;
  }

  .containerItem .card img {
    width: 430px;
    height: 320px;
  }

  .price {
    bottom: 30px !important;
  }
}
