
.containerItem .card{
    width: 630px;
    height: 700px;

    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    position: relative;
    margin-bottom: 80px;
    margin-top: 100px;
    
}



.containerItem .card img{
    width: 630px;
    height: 420px;
}

.itemList{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    
}

.title{
    display: flex;
    align-content: flex-start;
    text-transform: uppercase;
}

.description{
    text-align: left;
}

.infoItem{
color: black;
}

.price{
    color: #A4750D;
    position: absolute;
    bottom: 50px;
    font-size: 1.4rem;
}

.botonItem{
   
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 10px 30px;
   border: 2px solid black;
   text-transform: uppercase;
}
