.titleDetail{
    color: rgb(18, 18, 18);
    font-weight: bold;
    text-transform: uppercase;
}

.priceDetail{
    color: #A4750D;

    bottom: 50px;
    font-size: 1.4rem;

}

.descriptionDetail{
    color: #80807B;

}

.itemDetail{
    display: flex;
    width: 30%;
    margin-left:20% ;
    text-align: left;
    padding:  30px;
    margin-top: 300px;
    background-color: red;
    margin-bottom: 200px ;

}

.cardDetail{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

}

.imageStockDetail{
    object-fit: cover;
    height: 700px;
    width: 100%;
    object-position: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.OfertaDetail{
    text-transform: uppercase;
    color:#CEA44D;
    font-weight: bold;
    
}

.botonItemDetail{

    left: 0;
    bottom: 0;
    padding: 20px 30px;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: black;
    color: white;
    margin: 20px;
    width: 200px;
}

.botonesDetail{
    display: flex;
    
}

.btnBlanco{
    background-color: #fff;
    color: black;
}


@media (min-width: 700px) and  (max-width: 1366px){
    

    .imageStockDetail{
       
        height: 500px;
        width: 100%;

    }
    .itemDetail{
        display: flex;
        width: 60%;
        margin: 0 auto;
        text-align: left;
        padding:  30px;
        margin-top: 200px;
        background-color: #ffff ;
        margin-bottom: 200px ;
    
    }    
}