.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;

  position: absolute;
  left: 0;
  bottom: -0px;
  padding: 10px 30px;
  text-transform: uppercase;
}
.button.type2 {
  color: #616161;
  border-bottom: 2px solid #ffff;
}
.button.type2.type2:after,
.button.type2.type2:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #76550c;
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.button.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}
.button.type2.type2:hover:after {
  transform: scale(1);
}
