.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.645);
    padding: 0 5%;
    margin: 0 auto;
    position: absolute;
    width: 90%; /*poruqe tengo que poner 90% y no 100% para que se vea bien*/
    height: 120px;
    z-index: 100;
}

.nav_item{
    margin: 10px;
    color: white;
}

.logo_navBar{
    margin: 10px;
    height: 40px;
}

.nav_menu{
    display: flex;
    align-items: center;
}


.activa{
    position: relative;
}
.activa::after{
    content: "◆";
position: absolute;
    display: flex;
    flex-direction: column;
    left: 40%;
    
}

.inactiva{
    color: rgb(188, 188, 188);
}

.logoNavBar{
    width: 100px;
    margin: 10px;
}

.prueba{
    display: flex;
    align-items: center;
}