.counterContainer {


    margin-top: 0;
}

.counter {
    display: flex;
    align-items: center;
   
    width: 400px;
  
    
}

.itemCountButton {
    cursor: pointer;
    font-size: 32px;

}

.itemCountButton:hover{
    color:rgb(73, 73, 73);
}

.itemCount {
    border: 2px solid white;
   
    width: 230px;
}

.buttonCount {
    background-color: rgb(73, 73, 73);
    border: solid 1px black;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
 
    cursor: pointer;
}

button:hover{
    font-weight: bolder;
    
}

.icon{
    margin: 20px;
    color: rgb(0, 0, 0);
    text-align: center;

}

