.counter {
  display: flex;
}

.addPerson {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPerson div {
  text-align: center;
}

.buttonCount {
  position: relative !important;
}
.itemCountButton h4 {
  cursor: pointer;
  font-size: 1.5rem;
}
.itemCountButton h4:hover {
  color: #616161;
}
